.counter {
  display: flex;
  height: 40px;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
}

.counter-button {
  width: 40px;
  border-radius: 100%;
  color: #fff;
  background-color: #737373;
  font-size: 20px;
}

.delete-button {
  margin: 0px 20px 0px 100px;
}

.modal-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  justify-content: space-between;
}

.modal-content{
  display: flex;
  justify-content: space-around;
}
